fastapi
uvicorn[standard]
# [SpaCy Light Model]
spacy>=3.7.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl

# [Utilities]
huggingface-hub>=0.16.0
dateparser
authlib
httpx==0.27.2
itsdangerous
pandas
pytz
deep_translator==1.11.4
google-generativeai>=0.7.2