fastapi
uvicorn[standard]
spacy>=3.7.0
transformers>=4.34.0
huggingface-hub>=0.16.0
dateparser
authlib
httpx==0.27.2
itsdangerous
pandas>=2.0.0
numpy>=1.24.0
deep_translator
pytz
google-generativeai>=0.7.2
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
https://github.com/explosion/spacy-models/releases/download/en_core_web_trf-3.7.3/en_core_web_trf-3.7.3-py3-none-any.whl